*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
marquee{
    color: aqua;
}

.container{
    border: thick solid blue;
    min-height: 100vh;
    display: block;
    position: relative;
    background-image: url(./img/planet\ b.jpg);
}
.imga img{
    position: absolute;
    width: 20%;
    top: 10px;
    left: 50px;

}
.imgb img{
    position: absolute;
    width: 19%;
    left: 870px;
    top: 30px;
}

.imgc img{
    position: absolute;
    width: 19%;
    bottom: 80px;
    left: 20px;
}

.imgd img{
    position: absolute;
    width: 15%;
    bottom: 90px;
    right: 35px;
}

.imge img{
    position: absolute;
    width: 30%;
    left: 460px;
    bottom: 70px;
}

.imgf img{
    position: absolute;
    width: 18%;
    left: 230px;
    bottom: 20px;
}

.imgg img{
    position: absolute;
    width: 20%;
    right: 230px;
    bottom: 60px;
}

.imgh img{
    position: absolute;
    width: 10%;
    top: 50px;
    right: 40px;
}

.imgi img{
    position: absolute;
    width: 8%;
    left: 420px;
    top: 35px;
} 


@media screen {
    .container{
        width: 100%;
    }
    .img{
    
    }
}


